<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login successfully!</title>
    <link rel="stylesheet" href="../../public/site.css">
</head>

<body>
    <h1>Login successfully!</h1>
    <h2>User profile</h2>
    <main>
        <p>Username: {{username}} </p>
        <p>Firstname: {{firstName}} </p>
        <p>Lastname: {{lastName}} </p>
        <p>Profession: {{profession}} </p>
        <p>Bio: {{bio}} </p>
    </main>
</body>

</html>